*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.div1{ 
   background-image: url( assets/Hero-bg.png);
   width: 1440px;
   height: 650px;
   background-position: center;
   background-size: cover;
   
   
}
.contant{
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
gap: 32px;


}
.he{
    color: 000072;
    font-size: 48px;
    font-weight: 10px;
    text-align: center;
}
.para{
color:rgba(59, 73, 83, 0.781);
line-height: 20px;
font-size: 20px;
margin-bottom: 32px;
padding-left:15px;



}
.btn{
    color:white ;
    background-color:black;
    width:208px;
    height: 66px;
    border-radius: 8px;
    font-size:20px ;
}
.hello{
    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: 6px;
    margin-bottom: 47px;
}
.contant-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    margin-bottom: 240px ;
    background-color:rgba(255, 255, 255, 0.897);
    
}
.div-one{ 
  text-align: left;
    margin-left: 55px ;  width: 477px;
    height: 219px;
  
}

.div-two{
    background-image: url( assets/Layer_1.png);
    width: 274px;
    height: 240px;
}
.sub1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 32px;
    width: 946px;
    height: 336px;
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.uuuu{

width:852px ;
height: 52px;
margin-bottom:96px ;
}
.btn-style{
  font-size: 20px;
  padding: 8px 15px;
}
.sub-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 32px;
    width: 946px;
    height: 336px;

}
.dive-one{
    margin-left: 50px;
    

}
.har{
    margin-bottom: 5px;
}
.haj{
    color: 000072;
    font-size: 48px;
    font-weight: 10px;
    text-align: center;
    margin-bottom:24px ;
}
.paradose{
    color:rgba(59, 73, 83, 0.781);
line-height: 20px;
font-size: 20px;
margin-bottom: 48px;
}
.three{
display: flex;
justify-content:space-between;
align-items: center;
margin-top: 32px;
width: 946px;
height: 336px;
}
.img{
    
    width: 274px;
    height: 240px;
}
.content-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    gap: 10px;
    width: 946px;
height: 336px;
}
.gt{
    text-align: center;
    gap: 10px;
   

}
.para-p{
    color:rgba(59, 73, 83, 0.781);
line-height: 20px;
font-size: 20px;
margin-bottom: 55px;

}



.video{
    width: 946px;
height:450px;}
.video video{
    border-radius: 8px;
}
.multiple{
     margin-top: 100px;
    

}
.gimp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 946px;
    
}
.aaa , .bbb , .ccc{
    width: 364px;
    height: 200px;
    margin-right: 20px;
    border-radius: 16px;

}
.real{
    
display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.ccc{
    background-color: rgba(197, 192, 162, 0.877);


}
.aaa{
    background-color:rgb(193, 193, 226) ;
}
.bbb{
    background-color:rgb(218, 201, 201) ;
}
.fff{
    margin-left: 10px;
    margin-top: 10px;
}
.learn{
   
}
.para-1{
    color:rgba(59, 73, 83, 0.781);
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 8px;
    padding-left:15px;

}
.para-1 >a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 23px;
}